# This is a basic workflow to help you get started with Actions

name: Maven java example

# Controls when the workflow will run
on: [push]
  # Triggers the workflow on push or pull request events but only for the master branch
#   push:
#     branches: [ master ]
#   pull_request:
#     branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
#   workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: check main branch
        uses: actions/checkout@v2


      - name: setup jdk 1.8
        uses: actions/setup-java@v1
        with:
         java-version: 1.8


#       - name: have github action build maven project
#         run: mvn -B package --file pom.xml
        
#       - name: list the current directory
#         run: ls -a
        
#       - name: what is in target folder
#         run: |
#          cd target
#          ls -a
